{% load static %}
<!doctype html>
<html>
<head>
  <title>Board</title>
  <link rel="stylesheet" href="{% static 'frontend/style.css' %}">
</head>
<body>

<h2 id="projectTitle">Board</h2>

<a href="/projects/">Back</a>

<div>
  <input type="text" id="searchInput" placeholder="Search by title">
  <select id="statusFilter">
    <option value="">All</option>
    <option value="Todo">Todo</option>
    <option value="In Progress">In Progress</option>
    <option value="Done">Done</option>
  </select>

  <select id="sortSelect">
    <option value="">Sort</option>
    <option value="due_date">Due Date</option>
    <option value="created_at">Created Date</option>
  </select>

  <button onclick="loadTasks(new URLSearchParams(window.location.search).get('project'))">
    Apply
  </button>
</div>

<h3>To Do</h3>
<div id="todo"></div>

<h3>In Progress</h3>
<div id="inprogress"></div>

<h3>Done</h3>
<div id="done"></div>

<button id="addTaskBtn">+ Task</button>

<script src="{% static 'frontend/app.js' %}"></script>

</body>
</html>
