{% load static %}
<!doctype html>
<html>
<head>
  <title>Projects</title>
  <link rel="stylesheet" href="{% static 'frontend/style.css' %}">
</head>
<body>

<div class="container">

  <div class="row">
    <h1>Projects</h1>
    <button onclick="logout()">Logout</button>
  </div>

  <div class="card" style="margin-top:20px;">
    <input type="text" id="newProjectName" placeholder="New Project Name">
    <button id="createProjectBtn" style="margin-top:10px;">Create Project</button>
  </div>

  <ul id="projectsList" class="project-list"></ul>

</div>

<script src="{% static 'frontend/app.js' %}"></script>

</body>
</html>
