{% load static %}
<!doctype html>
<html>
<head>
  <title>Register</title>

  <!-- FIXED -->
  <link rel="stylesheet" href="{% static 'frontend/style.css' %}">
</head>
<body>

<div class="container center">
  <h2>Register</h2>

  <form id="registerForm">
    <input id="reg_username" name="username" placeholder="Username" required>
    <input id="reg_email" name="email" type="email" placeholder="Email" required>
    <input id="reg_password" name="password" type="password" placeholder="Password" required>
    <button type="submit">Register</button>
  </form>

  <p>Already have account?
    <a href="{% url 'login_page' %}">Login</a>
  </p>
</div>

<!-- FIXED -->
<script src="{% static 'frontend/app.js' %}"></script>

</body>
</html>
